# Logs
logs
*.log
npm-debug.log*
node_modules/
*.tsbuildinfo
.npm
.eslintcache
dist
.cache
.idea
.vscode
*.iml
.data/
venv/
__pycache__/
*.pyc
.env
.env.*
app/src/public
app/src/shopify/public
.parcel-cache
.parcel-cache-shopify
app/creds.json
.bash_history
.python_history
app/nltk_data
ToDo.md
scripts
app/.npm
app/dist
